<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell small-2">
      <img class="thumbnail" src="{{user.images.[0].url}}" alt="{{user.display_name}}" />
    </div>
    <div class="cell small-10">
      <h1>New Metal Playlist Maker</h1>
    </div>
  </div>
</div>

<form class="playlist-form" method="POST" action="/playlist">
  <div class="grid-container">

    <div class="grid-x grid-padding-x">
      <div class="small-1 cell">
        <label class="label-right" class="text-label">Playlist</label>
      </div>
      <div class="small-3">
        <select name="playlist" id="playlist">
          <option value="">Create New</option>
          {{#each playlists}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="small-1 cell">
        <label class="label-right" class="text-label">Start Date</label>
      </div>
      <div class="small-3">
        <input type="date" name="date" id="date" value="{{today}}" />
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="small-1 cell">
        <label class="label-right" class="text-label">Days</label>
      </div>
      <div class="small-3">
        <input type="number" name="days" id="days" value="1" min="1" max="{{maxDays}}" />
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="small-2 small-offset-3 cell">
        <button class="success button" type="submit" name="key" value="{{newKey}}">Build</button>
      </div>
    </div>

    {{#each log}}
      <div class="grid-x grid-padding-x">
        <div class="small-12">
            {{{this}}}
        </div>
      </div>
    {{/each}}

  </div>
</form>