<div class="grid-container">
  <div class="grid-x padding-x">
    <div class="cell small-12">
      <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail" >
            <img src="{{user.images.[0].url}}" alt="{{user.display_name}}" />
          </div>
        </div>
        <div class="media-object-section">
          <h1>New Metal Playlist Maker</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="running" value="{{running}}" />
<form class="playlist-form" method="POST" action="/playlist">
  <input type="hidden" id="fingerprint" name="fingerprint" value="{{fingerprint}}" />
  <div class="grid-container">

    <div class="grid-x grid-padding-x">
      <div class="small-1 cell">
        <label class="label-right" class="text-label">Playlist</label>
      </div>
      <div class="small-3 cell">
        <select name="playlist" id="playlist" {{#if running}}disabled{{/if}}>
          <option value="">Create New</option>
          {{#each playlists}}
            <option value="{{id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="small-1 cell">
        <label class="label-right" class="text-label">Start Date</label>
      </div>
      <div class="small-3 cell">
        <input
          type="date"
          name="date"
          id="date"
          {{#if date}}
            value="{{date}}"
          {{else}}
            value="{{today}}"
          {{/if}}
          {{#if running}}disabled{{/if}}
        />
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="small-1 cell">
        <label class="label-right" class="text-label">Days</label>
      </div>
      <div class="small-3 cell">
        <input
          type="number"
          name="days"
          id="days"
          value="{{days}}"
          min="1"
          max="{{maxDays}}"
          {{#if running}}disabled{{/if}}
        />
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="small-1 cell">
        <label class="label-right" class="text-label">Genre</label>
      </div>
      <div class="small-3 cell">
        <input
          type="text"
          name="genre"
          id="genre"
          value="{{genre}}"
          {{#if running}}disabled{{/if}}
        />
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="small-1 cell">
        <label class="label-right" class="text-label">Ignore</label>
      </div>
      <div class="small-3 cell">
        <textarea
          name="ignore"
          id="ignore"
          {{#if running}}disabled{{/if}}
        >{{ignore}}</textarea>
      </div>
    </div>

    <div class="grid-x grid-padding-x text-right">
      <div class="small-4 cell">
        <button
          class="success button"
          type="submit"
          name="key"
          value="{{newKey}}"
          {{#if running}}disabled{{/if}}
        >
          Build
        </button>
        <a href="/">
          <button
            class="alert button"
            type="button"
            {{#if running}}disabled{{/if}}
          >
            Clear
          </button>
        </a>
      </div>
    </div>

  </div>
</form>

<div class="grid-container">
  {{#unless log.empty}}
    <div class="grid-x grid-padding-x">
      <div class="cell small-12">
        <h3><a href="{{log.playlistUrl}}">{{log.playlistName}}</a></h3>
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="cell small-3">
        <span class="label {{#if log.spotifyTotal}}success{{else}}alert{{/if}}">Spotify {{log.spotifyTotal}}</span>
        <span class="label {{#if log.bandcampTotal}}primary{{else}}alert{{/if}}">Bandcamp {{log.bandcampTotal}}</span>
      </div>
    </div>

    <br />

    <ul class="tabs" data-tabs id="tabs">
      <li class="tabs-title is-active"><a href="#all" aria-selected="true">All</a></li>
      <li class="tabs-title"><a href="#spotify">Spotify</a></li>
      <li class="tabs-title"><a href="#bandcamp">Bandcamp</a></li>
    </ul>
  {{/unless}}

  {{#unless log.empty}}
    <div class="tabs-content" data-tabs-content="tabs">
      <div class="tabs-panel is-active" id="all">
        {{#each log.entries}}
          <div class="grid-x grid-padding-x">

            <div class="cell small-12">
              <div class="callout secondary" data-closable>
                <div class="grid-x grid-padding-x">
                  <div class="cell small-11">
                    <h4><a href="{{artistUrl}}">{{artist}}</a></h4>
                  </div>
                </div>
                <div class="grid-x grid-padding-x">
                  <div class="cell small-11">
                    <h5>{{genre}}</h5>
                  </div>
                </div>
                <div class="grid-x grid-padding-x">
                  <div class="cell small-12">
                    <h5><a href="{{albumUrl}}">{{album}}</a></h5>
                  </div>
                </div>

                {{#if spotify}}
                  <div class="grid-x grid-padding-x">
                    <div class="cell small-12">
                      <h6>Spotify</h6>
                    </div>
                  </div>
                  {{#each spotifyHits}}
                    <div class="grid-x grid-padding-x">
                      <div class="cell small-4">
                        <a href="{{external_urls.spotify}}" class="thumbnail">
                          <img src="{{images.1.url}}" alt="{{artists.0.name}} - {{name}}" />
                        </a>
                      </div>
                      <div class="cell small-8">
                        <table class="hover">
                          <tbody>
                            {{#each tracks}}
                              <tr>
                                <td>{{track_number}}</td>
                                <td>{{name}}</td>
                                <td>{{duration duration_ms}}</td>
                              </tr>
                            {{/each}}
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="grid-x grid-padding-x">
                      <div class="cell small-12">
                        <button
                          class="success button remove-from-playlist"
                          data-id="{{id}}"
                          {{#if ../../running}}disabled{{/if}}
                        >
                          Remove
                        </button>
                      </div>
                    </div>
                  {{/each}}
                {{/if}}

                {{#if bandcamp}}
                  <div class="grid-x grid-padding-x">
                    <div class="cell small-12">
                      <h6>Bandcamp</h6>
                    </div>
                  </div>
                  <div class="grid-x grid-padding-x">
                    {{#each bandcampHits}}
                      <div class="cell small-2">
                        <a href="{{url}}" class="thumbnail">
                          <img src="{{imageUrl}}" alt="{{artist}} - {{name}}" />
                        </a>
                      </div>
                    {{/each}}
                  </div>
                {{/if}}

                <button class="close-button" aria-label="Close" type="button" data-close>
                  <span aria-hidden="true">&or;</span>
                </button>
              </div>
            </div>

          </div>

          <br />
        {{/each}}
      </div>
      <div class="tabs-panel" id="spotify">
        {{#each log.spotifyEntries}}
          <div class="grid-x grid-padding-x">

            <div class="cell small-12">
              <div class="callout secondary" data-closable>
                <div class="grid-x grid-padding-x">
                  <div class="cell small-11">
                    <h4><a href="{{artistUrl}}">{{artist}}</a></h4>
                  </div>
                </div>
                <div class="grid-x grid-padding-x">
                  <div class="cell small-11">
                    <h5>{{genre}}</h5>
                  </div>
                </div>
                <div class="grid-x grid-padding-x">
                  <div class="cell small-12">
                    <h5><a href="{{albumUrl}}">{{album}}</a></h5>
                  </div>
                </div>

                <div class="grid-x grid-padding-x">
                  <div class="cell small-12">
                    <h6>Spotify</h6>
                  </div>
                </div>
                {{#each spotifyHits}}
                  <div class="grid-x grid-padding-x">
                    <div class="cell small-4">
                      <a href="{{external_urls.spotify}}" class="thumbnail">
                        <img src="{{images.1.url}}" alt="{{artists.0.name}} - {{name}}" />
                      </a>
                    </div>
                    <div class="cell small-8">
                      <table class="hover">
                        <tbody>
                          {{#each tracks}}
                            <tr>
                              <td>{{track_number}}</td>
                              <td>{{name}}</td>
                              <td>{{duration duration_ms}}</td>
                            </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="grid-x grid-padding-x">
                    <div class="cell small-12">
                      <button
                        class="success button remove-from-playlist"
                        data-id="{{id}}"
                        {{#if ../../running}}disabled{{/if}}
                      >
                        Remove
                      </button>
                    </div>
                  </div>
                {{/each}}

                <button class="close-button" aria-label="Close" type="button" data-close>
                  <span aria-hidden="true">&or;</span>
                </button>
              </div>
            </div>

          </div>

          <br />
        {{/each}}
      </div>
      <div class="tabs-panel" id="bandcamp">
        {{#each log.bandcampEntries}}
          <div class="grid-x grid-padding-x">

            <div class="cell small-12">
              <div class="callout secondary" data-closable>
                <div class="grid-x grid-padding-x">
                  <div class="cell small-11">
                    <h4><a href="{{artistUrl}}">{{artist}}</a></h4>
                  </div>
                </div>
                <div class="grid-x grid-padding-x">
                  <div class="cell small-11">
                    <h5>{{genre}}</h5>
                  </div>
                </div>
                <div class="grid-x grid-padding-x">
                  <div class="cell small-12">
                    <h5><a href="{{albumUrl}}">{{album}}</a></h5>
                  </div>
                </div>

                <div class="grid-x grid-padding-x">
                  <div class="cell small-12">
                    <h6>Bandcamp</h6>
                  </div>
                </div>
                <div class="grid-x grid-padding-x">
                  {{#each bandcampHits}}
                    <div class="cell small-2">
                      <a href="{{url}}" class="thumbnail">
                        <img src="{{imageUrl}}" alt="{{artist}} - {{name}}" />
                      </a>
                    </div>
                  {{/each}}
                </div>

                <button class="close-button" aria-label="Close" type="button" data-close>
                  <span aria-hidden="true">&or;</span>
                </button>
              </div>
            </div>

          </div>

          <br />
        {{/each}}
      </div>
    </div>
  {{/unless}}
</div>